/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: url('images/gif baru.gif') no-repeat center center fixed;
    background-size: cover;
    color: #f9f8f9;
}

/* Title */
.title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #120f0f;
}

/* Education Section */
.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Individual Education Box */
.education-box {
    background: #0f84b25d;
    border: 5px solid #cf1b0fdd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.education-box:hover {
    transform: scale(1.05);
}

/* Image Style */
.education-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Content Style */
.education-content h2 {
    font-size: 1.5rem;
    color: #444;
    margin: 0 0 10px;
}

.education-content p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
    color: #131212;
}

.btn {
    text-decoration: none;
    background-color: #61caff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.btn:hover {
    background-color: #ff4e42;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


